# Database
DATABASE_URL="postgresql://[user]:[password]@postgres:5432/[database_name]" # Don't use `[]` when filling in

# Server
PORT=3001
NODE_ENV="development"
FRONTEND_URL="http://*.localhost:5173"

# JWT
JWT_SECRET="SuperSecretJWTSecret"
JWT_EXPIRES_IN="1d"
JWT_SECRET_REFRESH="SuperSecretJWTRefreshSecret"
JWT_REFRESH_EXPIRES_IN="7d"

# Cookie
AUTH_COOKIE_NAME=
REFRESH_COOKIE_NAME=

# Encryption (for sensitive data like OAuth tokens)
TOKEN_ENCRYPTION_KEY="256ByteKey" # Can be generated via a terminal command

# Discord Application Credentials
DISCORD_API_ENDPOINT="https://discord.com/api/v10" # v10 is latests as of writing
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_REDIRECT_URI="http://discordtools.localhost:5173/auth/callback" # Setup in Discord's Dev Portal

# Discord Bot Credentials
# ... To be added later, when needed

# CORS (Maybe needed later, not now though)
COOKIE_DOMAIN=.yourdomain.com