# Vite
VITE_DISCORD_CLIENT_ID=""
VITE_DISCORD_API_URL="https://discord.com/api/v10" # v10 is the latests as of writing
VITE_DISCORD_OAUTH2_URL='https://discord.com/oauth2/authorize'
VITE_DISCORD_REDIRECT_URI="http://discordtools.localhost:5173/auth/callback"
VITE_ROOT_WEBURL="localhost:5173"